@page "/"

<PageTitle>Home</PageTitle>

<h1>MDFe</h1>
<br />
<p>
Manifesto de Documentos Fiscais Eletrônicos (MDFe) é um documento digital que tem como objetivo registrar a movimentação de cargas em transportes rodoviários.
</p>
<br />
<p>
    O MDFe é utilizado para acompanhar o transporte de cargas, garantindo a segurança e a legalidade do processo.
</p>